@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$font: "montserrat", sans-serif;

*{
	font-family: $font;
}
a {
	text-decoration: none;
	color: $color_white;
}