//COLORES//

//HEADER Y FOOTER//

$color_white: rgb(255, 255, 255);

$color_header: #edf0f1;

$background-black: rgb(0, 0, 0);

$color_red: red;

$background_red: red;

$background_white: rgb(255, 255, 255);

$color_gray: #999999;

$background_hover: rgba(128, 128, 128, 0.377);

//INDEX//
$color_black: rgb(0, 0, 0);
$background_img: rgba(128, 128, 128, 0.11);
$background_img2: rgb(255, 255, 255);
$background_contact: rgba(0, 0, 0, 0.062);
$background-login: rgba(99, 99, 99, 0.137);

//COLORES//


